{% extends 'menu.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='tempusdominus-datetime-picker/css/tempusdominus-bootstrap-4.min.css')}}" />
{% endblock %}

{% block content %}
    <div class="container">
    <h1>View Appointment {{ a.id }}</h1>
        <hr>
    <form action="" class="form" method="post">
        {{ form.hidden_tag() }}

    <div class="form-group">
            {{ form.is_completed.label }}
            {% if form.is_completed.errors %}
                {% for e in form.is_completed.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        <select name="is_completed" id="is_completed" disabled>
            <option value="Not Completed" {% if form.is_completed.data == 'Not Completed' %}selected{% endif %}>Not Completed</option>
            <option value="Completed" {% if form.is_completed.data == 'Completed' %}selected{% endif %}>Completed</option>
        </select>

        </div>

        <div class="form-group">
            {{ form.title.label }}
            {% if form.title.errors %}
                {% for e in form.title.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.title(class_='form-control', readonly="") }}

        </div>
        <div class="form-group">
            {{ form.customer.label }}
            {% if form.customer.errors %}
                {% for e in form.customer.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.customer(class_='form-control', readonly="") }}

        </div>

    <div class="form-group">
            {{ form.location.label }}
            {% if form.location.errors %}
                {% for e in form.location.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.location(class_='form-control', readonly="") }}

        </div>

    <div class="form-group">
        {{ form.start_time.label }}
            {% if form.start_time.errors %}
                {% for e in form.start_time.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
{#                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="start_time"/>#}
                    {{ form.start_time(class_="form-control datetimepicker-input", readonly="", **{"data-target": "#datetimepicker1"}) }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
            {{ form.duration.label }}
            {% if form.duration.errors %}
                {% for e in form.duration.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.duration(class_='form-control', type='number', min=10, max=1440, step=1, readonly="") }}

        </div>

    <div class="form-group">
            {{ form.note.label }}
            {% if form.note.errors %}
                {% for e in form.note.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ form.note(class_='form-control', readonly="") }}

        </div>

    </form>

        <a href="{{ url_for('main.app_list') }}" class="btn btn-primary"><i class="fa fa-list"></i></a>
        <a href="{{ url_for('main.app_edit', _id=a.id) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
        <a href="{{ url_for('main.app_delete', _id=a.id) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>

    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='moment.js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tempusdominus-datetime-picker/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script>
    moment.locale('en-us');
    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fa fa-fw fa-clock',
                date: 'fa fa-fw fa-calendar',
                up: 'fa fa-fw fa-arrow-circle-up',
                down: 'fa fa-fw fa-arrow-circle-down',
                previous: 'fa fa-fw fa-arrow-circle-left',
                next: 'fa fa-fw fa-arrow-circle-right',
                today: 'fa fa-fw fa-calendar-check-o',
                clear: 'fa fa-fw fa-trash',
                close: 'fa fa-fw fa-times'
            },
            });
    $('#datetimepicker1').datetimepicker({
        locale: 'en-us-cn',
        format: 'YYYY-M-D HH:mm',
                });
    </script>
{% endblock %}